---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="text-center my-10">
	
		<h1 class="text-xl">AS205378</h1>

		<p class="mt-6">This is a network ran by Mário on behalf of Y3D.</p>
		<p class="mt-2">Mostly used as an hobbynet, with some production traffic.</p>
		<p class="mt-2">This network has PoP's in 🇬🇧 London and 🇳🇱 Amsterdam, with connection to AMS-IX.</p>

		<div class="footer mt-5">
			<a href="https://bgp.he.net/AS205378" target="_blank" rel="noopener noreferrer" class="text-blue-300 hover:underline">BGP.he.net</a>
			<span> | </span>
			<a href="https://bgp.tools/as/205378" target="_blank" rel="noopener noreferrer" class="text-blue-300 hover:underline">BGP.tools</a>
			<span> | </span>
			<a href="https://www.peeringdb.com/net/40084" target="_blank" rel="noopener noreferrer" class="text-blue-300 hover:underline">PeeringDB</a>
		</div>
	</div>
</Layout>
