---
import '../assets/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content="Astro" />
		<title>as205378</title>
		<meta name="description" content="as205378.net ASN" />
	</head>
	<body class="mx-auto max-w-3xl font-mono bg-gray-900 text-white">
		<div class="navbar h-16 flex items-center border-gray-700">
			<a href="/" class="p-4 hover:underline">Home</a>
			<a href="/presence" class="p-4 hover:underline">PoP</a>
		</div>

		<slot />
	</body>
</html>